@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Services.Catalog;
@using Nop.Services.Stores;
@using Nop.Services.Security;
@using Nop.Services.Seo;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
    TempData["productAttributes"] = Model.ProductAttributes;

    //Replace Breadcrumb Model With New Breadcrumb From Cart
    string categoryID = (!string.IsNullOrEmpty(Request.QueryString["categoryid"])) ? Request.QueryString["categoryid"] : string.Empty;
    if (!string.IsNullOrEmpty(categoryID))
    {
        var _categoryService = EngineContext.Current.Resolve<ICategoryService>();
        var _aclService = EngineContext.Current.Resolve<IAclService>();
        var _storeMappingService = EngineContext.Current.Resolve<IStoreMappingService>();
        var category = _categoryService.GetCategoryById(Convert.ToInt32(categoryID));
        var _catalogSettings = EngineContext.Current.Resolve<CatalogSettings>();
        var breadcrumbModel = new ProductDetailsModel.ProductBreadcrumbModel
        {
            Enabled = _catalogSettings.CategoryBreadcrumbEnabled,
            ProductId = Model.Id,
            ProductName = Model.Name,
            ProductSeName = Model.SeName
        };

        if (category != null)
        {

            foreach (var catBr in category.GetCategoryBreadCrumb(_categoryService, _aclService, _storeMappingService))
            {
                breadcrumbModel.CategoryBreadcrumb.Add(new CategorySimpleModel
                {
                    Id = catBr.Id,
                    Name = catBr.Name,
                    SeName = catBr.GetSeName(),
                    IncludeInTopMenu = catBr.IncludeInTopMenu
                });
            }
        }
        Model.Breadcrumb = breadcrumbModel;
    }
}
<!--product breadcrumb-->
@Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
@Html.Partial("_LoadingGif")
<div id="gateway-sales-banner"> @Html.Action("TopicBlock", "Topic", new { systemName = "hom_gateway_sale_banner" })</div>

<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential">
                    <div class="product-name panel-heading">
                        <h1 itemprop="name">
                            @Model.Name
                            @Html.Widget("product_artist_name", Model.Id)
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Widget("productdetails_before_pictures", Model.Id)
                            <!--product pictures-->
                            @Html.Partial("_ProductDetailsPictures", Model)
                            @Html.Widget("productdetails_after_pictures", Model.Id)
                        </div>
                        <div class="col-md-6">
                            @Html.Partial("_Discontinued", Model)
                            <div class="overview">
                                <div class="product-name panel-heading">
                                    <h1 itemprop="name">
                                        @Model.ShortDescription <span>@Html.Widget("product_artist_name", Model.Id)</span>
                                    </h1>
                                </div>
                                <div class="detail-left">
                                    <!--short description-->
                                    @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                    {
                                        <div class="short-description">
                                            @Html.Raw(Model.ShortDescription)
                                        </div>
                                    }
                                    @Html.Widget("productdetails_overview_top", Model.Id)
                                    <!--product reviews-->
                                    @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                                    <!--availability-->
                                    @Html.Partial("_Availability", Model)
                                    <!--product manufacturers-->
                                    @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                                    <!--SKU, MAN, GTIN, vendor-->
                                    @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                                    <!--delivery-->
                                    @Html.Partial("_DeliveryInfo", Model)
                                    <!--sample download-->
                                    @Html.Partial("_DownloadSample", Model)
                                    <!--rental info-->
                                    @{
                                        var dataDictRental = new ViewDataDictionary();
                                        dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                                        @Html.Partial("_RentalInfo", Model, dataDictRental)
                                    }
                                    <!--product attributes-->
                                    @{
                                        var dataDictAttributes = new ViewDataDictionary();
                                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                        @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                    }
                                    <!--gift card-->
                                    @{
                                        var dataDictGiftCard = new ViewDataDictionary();
                                        dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                        @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                    }
                                    <div class="price-section">
                                        <!--product price-->
                                        @{
                                            var dataDictPrice = new ViewDataDictionary();
                                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                                        }
                                        <!--addtocart-->
                                        @{
                                            var dataDictAddToCart = new ViewDataDictionary();
                                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                            @Html.Partial("_AddToCartGluon", Model, dataDictAddToCart)
                                        }
                                    </div>
                                    <div class="overview-buttons">
                                        <!--wishlist, compare, email a friend-->
                                        @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                                        @{
                                            var dataDictAddToWishlist = new ViewDataDictionary();
                                            dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                            @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                        }
                                        @*@Html.Partial("_CompareProductsButton", Model)
                                            @Html.Partial("_ProductEmailAFriendButton", Model)
                                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)*@
                                    </div>
                                    @Html.Partial("_ShareButton", Model)
                                    <div class="category-tag">
                                        @* @Html.Widget("product_category_titles", Model.Id)
                                                       @if (Model.ProductTags.Count > 0)
                                            {
                                            @Html.Partial("_ProductTags", Model.ProductTags)
                                            }*@
                                    </div>
                                    @Html.Widget("productdetails_overview_bottom", Model.Id)
                                </div>
                                <div class="product-delivar">
                                    <ul>
                                        <li>
                                            <h3><i class="fa fa-flag" aria-hidden="true"></i>MADE IN THE USA</h3>
                                            <p>All custom products are made right here in the US!</p>
                                        </li>
                                        <li>
                                            <h3 class=""><i class="fa fa-heart" aria-hidden="true"></i>SHOP WITH CONFIDENCE</h3>
                                            <p>We deliver the highest quallity products at the best prices.</p>
                                        </li>
                                    </ul>
                                </div>
                                @{
                                    ViewBag.productId = Model.Id;
                                }
                                @Html.Partial("_ProductTierPrices", Model.TierPrices)
                            </div>
                            <div class="detailpage-tab">
                                @Html.Widget("productdetails_before_collateral")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-collateral">
                    @*<div class="product-slider">@Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })</div>*@
                    <div class="product-slider">@Html.Action("RelatedProducts", "Product", new { productId = Model.Id })</div>
                </div>
            </div>
        }
        @*@Html.Widget("productdetails_bottom", Model.Id)*@
    </div>
</div>