@model ShoppingCartModel.DiscountBoxModel
@using Nop.Core.Infrastructure;
@using Nop.Services.Discounts;
@{
    var discountService = EngineContext.Current.Resolve<IDiscountService>();
}
    @using Nop.Web.Models.ShoppingCart;
    
    @if (Model.Display)
    {
        <div class="discount-box-wrapper">
            <div class="gbs-panel-title-uppercase">
                <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
            </div>
            <div class="hint gbs-padding-bottom-10">@T("ShoppingCart.DiscountCouponCode.Tooltip")</div>
            <div class="row">
                <div class="col-sm-8 col-xs-8 col-md-8">
                    <input name="discountcouponcode" placeholder="Coupon Code" type="text" class="discount-coupon-code form-control" />
                </div>
                <div class="discount-button col-sm-4 col-xs-4 col-md-4 gbs-align-btn-with-text">
                    <input type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button button-3d button-small button-rounded button-teal" />
                </div>
            </div>
            @foreach (var message in Model.Messages)
            {
                <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                    @message
                </div>
            }
            @foreach (var discount in Model.AppliedDiscountsWithCodes)
            {
                <div class="current-code">
                    <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discountService.GetDiscountById(discount.Id).Name)</span>
                    @*empty value (little hack for FormValueExistsAttribute)*@
                    <input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
                </div>
            }
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#discountcouponcode').keydown(function (event) {
                    if (event.keyCode == 13) {
                        $('#applydiscountcouponcode').click();
                        return false;
                    }
                });
            });
        </script>
    }
