<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="shippingall">
						<div class="pre-header-promo-text">@Html.Action("TopicBlock", "Topic", new { systemName = "ncc_pre-header-promo-text" })</div>
						<div class="pre-header-back-link">@Html.Action("TopicBlock", "Topic", new { systemName = "ncc_pre-header-back-link" })</div>
					</div>
					        
					
                    @*<div class="header-selectors-wrapper">
                        @Html.Action("TaxTypeSelector", "Common")

                        @Html.Action("CurrencySelector", "Common")

                        @Html.Action("LanguageSelector", "Common")

                        @Html.Widget("header_selectors")
                    </div>*@
                </div>
                <div class="col-md-9 header-upper-right pull-right">
                    <div class="header-links-wrapper">
                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                        @Html.Action("HeaderLinks", "Common")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-lower">
        <div class="container">
            <div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="header-logo">
                        @Html.Action("Logo", "Common")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6  pull-right">
                    <div class="search-box">
                        @Html.Action("SearchBox", "Catalog")
                    </div>
                </div>
                @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </div>*@
            </div>
        </div>
    </div>


    @*static Topic Menu bar Top of Mega Menu  -- Nav 7/26/17 *@
    <div class="newmenu">
        <div class="container">           
            @Html.Action("TopicBlock", "Topic", new { systemName = "ncc_MegaMenu" })
        </div>
    </div>
</div>

@*Mega menu CSS   --- Nav 7/26/17 *@
<style type="text/css">
    .header-menu, .back-button {
        display: block !important;
    }

    .mega-menu {
        border: 0px !important;
        margin: 0px !important;
    }
</style>

