@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@using Nop.Plugin.DataAccess.GBS;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
}
<div class="page checkout-page order-completed-page">
    <div class="page-title panel-heading">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_completed_top", Model.OrderId)
        <div class="">
            <div class="gbs-color-green order-success-msg-title">
                <strong>Success! Your order is now being processed.</strong>
            </div>
            <ul class="details">
                <li>
                    <strong>Order #: @DBManager.getGBSOrderID(Model.OrderId)</strong>
                </li>

            </ul>
            <div class="title order-success-msg-title gbs-margin-top-20">
                What's next?
            </div>
            <p class="gbs-margin-top-20 ">You should receive an email confirmation from us shortly. Need a receipt? <a href="/orderdetails/pdf/@Model.OrderId">Download your printable PDF invoice.</a> For your convenience, it is also accessible anytime from the order tab of your acccount page.</p>
            <p class="gbs-margin-top-20 ">@Html.Action("TopicBlock", "Topic", new { systemName = "shopping_cart_completed_message" })</p>
            @*<div class="control-group">
                    <div class="controls">
                        <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn btn-primary order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                    </div>
                </div>*@
        </div>
        @Html.Widget("checkout_completed_bottom", Model.OrderId)
    </div>
</div>
