                                             @{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Login.GBS.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSLoginWebServiceAddress_OverrideForStore, model => model.GBSLoginWebServiceAddress, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSLoginWebServiceAddress):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSLoginWebServiceAddress)
                @Html.ValidationMessageFor(model => model.GBSLoginWebServiceAddress)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSRegisterWebService_OverrideForStore, model => model.GBSRegisterWebService, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSRegisterWebService):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSRegisterWebService)
                @Html.ValidationMessageFor(model => model.GBSRegisterWebService)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSUpdateCustomerWebService_OverrideForStore, model => model.GBSUpdateCustomerWebService, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSUpdateCustomerWebService):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSUpdateCustomerWebService)
                @Html.ValidationMessageFor(model => model.GBSUpdateCustomerWebService)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSCustomerWebServiceName_OverrideForStore, model => model.GBSCustomerWebServiceUserName, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSCustomerWebServiceUserName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSCustomerWebServiceUserName)
                @Html.ValidationMessageFor(model => model.GBSCustomerWebServiceUserName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSCustomerWebServicePassword_OverrideForStore, model => model.GBSCustomerWebServicePassword, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSCustomerWebServicePassword):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSCustomerWebServicePassword)
                @Html.ValidationMessageFor(model => model.GBSCustomerWebServicePassword)
            </td>
        </tr>
        @*<tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GBSOldPassword_OverrideForStore, model => model.GBSOldPassword, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GBSOldPassword):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GBSOldPassword)
                @Html.ValidationMessageFor(model => model.GBSOldPassword)
            </td>
        </tr>*@
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}