@{
    Layout = "";
}
@model Nop.Plugin.Products.SpecificationAttributes.Models.ConfigureModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                Welcome to product Specification Attributes plugin
            </div>            
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ArtistCategoryID_OverrideForStore, model => model.ArtistCategoryID, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ArtistCategoryID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ArtistCategoryID)
                @Html.ValidationMessageFor(model => model.ArtistCategoryID)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    @Html.HiddenFor(model => model.Id, new { Value = 0 })
}
