@model Nop.Web.Models.Catalog.ProductDetailsModel
@{
    Layout = "";
    string fill = ViewBag.fill;
    string className = ViewBag.ClassName;
    int productId = ViewBag.ProductId;
}
    <div class="gallerys" style="@fill">
        <div class="pictures @className">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@productId" class="detailimg" />
        </div>
    </div>

    <link rel="stylesheet" href="/plugins/Products.SpecificationAttributes/Content/css/style.css" />
