@model Nop.Web.Models.Media.PictureModel
@{
    Layout = "";
    string color = ViewBag.DefaultColor;
    string className = ViewBag.ClassName;
    int productId = ViewBag.ProductId;
    string sename = ViewBag.SeName;
}
<script type="text/javascript">
    $(document).on("nopAjaxFiltersFiltrationCompleteEvent", function () {
        $("div").find("[data-productid='@productId']").find('.gallery').find('.picture').addClass('@className');
        $("div").find("[data-productid='@productId'].product-item").find('.picture').find('a').addClass('@className');
  });

</script>

<div class="pictures" style="@color">
    <a href="@Url.RouteUrl("Product", new { SeName = sename })" title="@Model.Title" class="@className">
        <img alt="" src="@Model.ImageUrl" title="@Model.Title" />
    </a>
</div>

<link rel="stylesheet" href="/plugins/Products.SpecificationAttributes/Content/css/style.css" />
