@model Nop.Web.Models.Media.PictureModel
@{
    Layout = "";
    string color = ViewBag.DefaultColor;
    string className = ViewBag.ClassName;
    int productId = ViewBag.ProductId;
}
<div class="gallerys" style="@color">
    <div class="pictures @className">
        <img alt="@Model.Title" src="@Model.ImageUrl" title="@Model.Title" itemprop="image" id="main-product-img-@productId" class="detailimg" />
    </div>
</div>

<link rel="stylesheet" href="/plugins/Products.SpecificationAttributes/Content/css/style.css" />
