@using Nop.Plugin.Products.SpecificationAttributes.Models;

@model System.Collections.Generic.List<Nop.Plugin.Products.SpecificationAttributes.Models.CustomerOrderListModel.OrderDetailsModel>
<div class="pager clearfix">
    @{

        var pager = Html.Pager(new OrderHistoryPagingFilteringModel()).QueryParam("pagenumber");
    }
    @if (!pager.IsEmpty())
            {
        @pager
    }
</div>

<div class="tabcontainer order-details-page">

    <ul class="tabheading">
        <li class="active"><a href="#tab1">Orders</a> </li>
        <li><a href="#tab2">Open Orders</a> </li>
        <li><a href="#tab3">Cancelled Orders</a> </li>
    </ul>
    <div class="tab-headsection">
        <div class="head-left">
            <span class="orderplace"><strong id="numberoforders">@Model.Count</strong> orders placed in</span>
            <div class="pastorder-select">
                <select id="pastorderddl">
                    <option value="6">Past 6 months</option>
                    <option value="3">Past 3 months</option>
                </select>
            </div>
        </div>
        @using (Html.BeginForm("GoToOrderId", "SpecificationAttributes", FormMethod.Post, new { id = "ordersearchsubmit" }))
        {
            @Html.AntiForgeryToken()
            <div class="ordersearch">
                <input type="text" placeholder="Search" class="ordersearch" id="GoDirectlyToNumber" />
                <input type="hidden" id="selectedIds" name="selectedIds" value="" />
                <button type="submit" id="go-to-order-by-number" name="go-to-order-by-number" class="order-submit">
                    Search orders
                </button>
            </div>
        }
    </div>
    <div class="tabbody active" id="tab1">
        <div class="order-list padtop25">
            @if (Model.Count > 0)
            {
                foreach (var order in Model)
                {
                    @Html.Partial("~/Plugins/Products.SpecificationAttributes/Views/SpecificationAttributes/_OrderListingDetails.cshtml", order)
                }
            }
            else
            {
                <div class="no-data">
                    @T("Account.CustomerOrders.NoOrders")
                </div>
            }
        </div>
    </div>
    <div class="tabbody hide" id="tab2">
        <div class="order-list padtop25">
            @if (Model.Count > 0)
            {
                foreach (var order in Model)
                {
                    if (order.OrderStatus == "Processing" || order.OrderStatus == "Pending")
                    {
                        @Html.Partial("~/Plugins/Products.SpecificationAttributes/Views/SpecificationAttributes/_OrderListingDetails.cshtml", order)
                    }
                }
            }
            else
            {
                <div class="no-data">
                    @T("Account.CustomerOrders.NoOrders")
                </div>
            }
        </div>
    </div>
    <div class="tabbody hide" id="tab3">
        <div class="order-list padtop25">
            @if (Model.Count > 0)
            {
                foreach (var order in Model)
                {
                    if (order.OrderStatus == "Cancelled")
                    {
                        @Html.Partial("~/Plugins/Products.SpecificationAttributes/Views/SpecificationAttributes/_OrderListingDetails.cshtml", order)
                    }
                }
            }
            else
            {
                <div class="no-data">
                    @T("Account.CustomerOrders.NoOrders")
                </div>
            }
        </div>
    </div>
</div>

<style>
    .Horizontal {
        background-image: url('/Content/Images/gbsThumbnailShapes/ncc/thumbnail-bg_envelope-horizontal.png') !important;
    }

    .Vertical {
        background-image: url('/Content/Images/gbsThumbnailShapes/ncc/thumbnail-bg_envelope-vertical.png') !important;
    }
</style>
<link rel="stylesheet" href="/plugins/Products.SpecificationAttributes/Content/css/style.css" />

<script>
    $(document).ready(function () {

        //Search Box
        $('#go-to-order-by-number').click(function (e) {
           e.preventDefault();
           var id = $('#GoDirectlyToNumber').val();
           var gbsid =  $('#ordersearchsubmit #selectedIds').val(id);
            var isnum = /^\d+$/.test(id);
            if (isnum) {
                $('#ordersearchsubmit #selectedIds').val(id);
            }
            else
            {
                id = document.getElementById(id).innerText;
                $('#ordersearchsubmit #selectedIds').val(id);
            }
            $('#ordersearchsubmit').submit();
            return false;
        });

        //Tabs
        $('.tabheading > li > a').click(function (event) {

            event.preventDefault();//stop browser to take action for clicked anchor

            //get displaying tab content jQuery selector
            var active_tab_selector = $('.tabheading > li.active > a').attr('href');

            //find actived navigation and remove 'active' css
            var actived_nav = $('.tabheading > li.active');
            actived_nav.removeClass('active');

            //add 'active' css into clicked navigation
            $(this).parents('li').addClass('active');

            //hide displaying tab content
            $(active_tab_selector).removeClass('active');
            $(active_tab_selector).addClass('hide');

            //show target tab content
            var target_tab_selector = $(this).attr('href');
            $(target_tab_selector).removeClass('hide');
            $(target_tab_selector).addClass('active');
        });


        //Drop down 3/6 months
        $("#pastorderddl").change(function () {
            var val = $(this).val();
            $(".order-list > span:first-child").each(function () {
                $(this).parent().removeClass("hidden");
                var month = $(this).text();
                if (val <= month) {
                    $(this).parent().addClass("hidden");
                }
            });
        });
    });
</script>
