@model Nop.Web.Models.Catalog.ProductOverviewModel
@{
    Layout = "";
    string fill = ViewBag.fill;
    string className = ViewBag.ClassName;
    int productId = ViewBag.ProductId;
    string sename = ViewBag.seName;

}
<div class="product-item clearfix" data-productid="@productId">
    <div class="picture" style="@fill">
        <a href="@Url.RouteUrl("Product", new { SeName = sename })" title="@Model.DefaultPictureModel.Title" class="@className">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
</div>

<style>
    .Horizontal {
        background-image: url('/plugins/Products.SpecificationAttributes/Content/horizontalenvelop.png') !important;
    }

    .Vertical {
        background-image: url('/plugins/Products.SpecificationAttributes/Content/verticalenvelop.png') !important;
    }
</style>
<link rel="stylesheet" href="/plugins/Products.SpecificationAttributes/Content/css/style.css" />