@model Nop.Plugin.Products.SpecificationAttributes.Models.ConfigureModel
@{
    Layout = "";
}
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ArtistName)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ArtistName)
                    @Html.ValidationMessageFor(model => model.ArtistName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <input type="button" class="btn bg-blue" name="SaveArtistName" id="SaveArtistName" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SaveArtistName").click(function () {
            var id = '@Model.Id';
            var ArtistName = $("#ArtistName").val();
            $.post("@Url.RouteUrl("Plugin.Products.SpecificationAttributes.ProductTabPost")", { id: id, ArtistName: ArtistName }, function () {
                alert("@T("Plugin.Prodcuts.SpecificationAttributes.Artist.Saved")");
            });
        });
    });
</script>