@model Nop.Plugin.Payments.GBS.Models.CustomerPaymentProfilesModel
@using Nop.Web.Framework;
@using Nop.Plugin.Payments.GBS.Models;
@using Nop.Web.Models.Customer;

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer")
}
<div class="page account-page address-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Payment methods</h1>
    </div>
    <div class="page-body">
        <div class="add-button">
            @*<input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerPaymentMethodAdd")'" value="@T("Common.AddNew")" />*@
            <a onclick="location.href='@Url.RouteUrl("CustomerPaymentMethodAdd")'" class="button button-3d button-rounded button-darkgreen"><i class="fa fa-plus" aria-hidden="true"></i>@T("Common.AddNew")</a>
        </div>
        @if (Model.SavedProfiles.Count > 0)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
    <div class="address-list row ">
        @for (int i = 0; i < Model.SavedProfiles.Count; i++)
        {
            var profiles = Model.SavedProfiles[i];
            <div class="col-md-4">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">@profiles.NickName</h2>
                    </div>
                    <div class="paymentmethod-box">
                        <div class="panel-body">
                            <div class="payment-logo">
                                @*@Html.LabelFor(model => model.SavedProfiles[i].CardType, new { }, ":")*@
                                <i class="fa fa-cc-@profiles.CardType" aria-hidden="true"></i>
                            </div>
                            <div class="cardinfo">
                                <p>@profiles.NickName ending in @profiles.Last4Digits</p>
                                <div><strong>Expires:</strong> @profiles.ExpMonth/@profiles.ExpYear</div>
                            </div>
                            @*<ul class="info">
                                    <li class="name">
                                           @profiles.NickName
                                       </li>
                                    <li class="email">
                                        @Html.LabelFor(model => model.SavedProfiles[i].profileID, new {}, ":")
                                        @profiles.profileID
                                    </li>
                                    <li class="email">
                                           @Html.LabelFor(model => model.SavedProfiles[i].CardType, new { }, ":")
                                           <i class="fa fa-cc-@profiles.CardType" aria-hidden="true"></i>
                                       </li>
                                    <li class="email">
                                        @Html.LabelFor(model => model.SavedProfiles[i].Last4Digits, new { }, ":")
                                        @profiles.Last4Digits
                                    </li>
                                    <li class="email">
                                        @Html.LabelFor(model => model.SavedProfiles[i].ExpMonth, new { }, ":")
                                        @profiles.ExpMonth
                                    </li>
                                    <li class="email">
                                        @Html.LabelFor(model => model.SavedProfiles[i].ExpYear, new { }, ":")
                                        @profiles.ExpYear
                                    </li>
                                </ul>*@

                            <div class="buttons">
                                @*<input type="button" class="button-2 edit-address-button" onclick="location.href = '@(Url.RouteUrl("CustomerPaymentMethodEdit", new {profileId = profiles.profileID}))'" value="@T("Common.Edit")"/>*@
                                <a onclick="location.href = '@(Url.RouteUrl("CustomerPaymentMethodEdit", new {profileId = profiles.profileID}))'" class="button button-3d button-rounded button-white button-light button-gray"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@T("Common.Edit")</a>
                                @*<input type="button" class="button-2 delete-address-button" onclick="deleteprofileaddress(@(profiles.profileID))" value="@T("Common.Delete")"/>*@
                                <a onclick="deleteprofileaddress(@(profiles.profileID))" class="button button-3d button-rounded button-white button-light button-gray"><i class="fa fa-trash-o" aria-hidden="true"></i>@T("Common.Delete")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
                <script type="text/javascript">
                    function deleteprofileaddress(profileId) {
                        if (confirm('@T("Admin.Common.AreYouSure")')) {
                            var postData = {
                                profileId: profileId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: '@Url.Action("PaymentMethodDelete", "Customer")',
                                data: postData,
                                dataType: 'json',
                                success: function(data) {
                                    location.href = data.redirect;
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
                </script>
            }
        }
        else
        {
            <div class="no-data">
                No payment methods
            </div>
        }

    </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementsByClassName('customer-info')[0].getElementsByTagName('a')[0].classList.remove("active");
        document.getElementsByClassName('customer-info')[0].getElementsByTagName('a')[0].classList.add("inactive");
        $('#payment_method_link').addClass('active').removeClass('inactive');
    });
</script>