@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addreditform" }))
{
    @Html.AntiForgeryToken()
    <div class="page account-page address-edit-page">
        <div class="page-title panel-heading">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses.Edit")</h1>
        </div>
        <div class="page-body">
            @{
                 var validationSummary = Html.ValidationSummary(true);
            }
            @if (!string.IsNullOrEmpty(validationSummary.ToHtmlString()))
            {
                <div class="message-error">
                    @validationSummary
                </div>
            }
            @{
            var dataDictAddress = new ViewDataDictionary(ViewData);
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
            @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
            }
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-md-2 save-btn-mt">
@*<input type="submit" class="btn btn-primary save-address-button " value="@T("Common.Save")" />*@
<a onclick="document.getElementById('addreditform').submit();" class="button button-3d button-rounded button-darkgreen"><i class="icon-save"></i>@T("Common.Save")</a>
                </div>
            </div>
        </div>
    </div>
}
