@using Nop.Core.Infrastructure;
@using Nop.Admin.Extensions;
@using Nop.Admin.Helpers;
@using Nop.Services.Media;
@model Nop.Plugin.Widgets.CustomersCanvas.Model.CcOrderModel
@{
    var _pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
    var _productAttributeParser = EngineContext.Current.Resolve<Nop.Services.Catalog.IProductAttributeParser>();
}
<div class="panel-group">
    <table class="table table-hover table-bordered text-center">
        <col />
        <col />
        <col />
        <col />
        <col />
        <thead>
            <tr>
                <th>
                    @T("Admin.Orders.Products.Picture")
                </th>
                <th>
                    @T("Admin.Orders.Products.ProductName")
                </th>
                <th>
                    @T("Admin.Orders.Products.Quantity")
                </th>
                <th>
                    Design
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var orderItemPicture = item.Product.GetProductPicture(item.AttributesXml, _pictureService, _productAttributeParser);
                var PictureThumbnailUrl = _pictureService.GetPictureUrl(orderItemPicture, 75, true);

                <tr>
                    <td style="text-align: center; width: 15%;">
                        <img src="@PictureThumbnailUrl" alt="" title="" />
                    </td>
                    <td style="text-align: left; width: 15%;">
                        <em><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.Product.Name</a></em>
                    </td>
                    <td style="width: 15%;">
                        <div>@item.Quantity</div>
                    </td>

                    <td style="width: 55%;">
                        @{
                            var index = Model.Items.IndexOf(item);
                        }

                        @if (Model.CcResult.ElementAt(index) != null)
                        {
                            foreach (var img in Model.CcResult.ElementAt(index).ProofUrls)
                            {
                                <div style="display:inline-block"><a href="@img" target="_blank"><img src="@img" style="max-width:200px; max-height:200px" /></a></div>
                            }

                            foreach (var url in Model.CcResult.ElementAt(index).HiResUrls)
                            {
                                var link = url + "/" + Model.CcResult.ElementAt(index).HiResOutputName;
                                <div><a target="_blank" href="@link">Download pdf</a></div>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>  