@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<div id="footer-wrap" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footerleft">
                <div id="aboutUsSection">
                    <h3>About House of Magnets</h3>
                    @Html.Action("TopicBlock", "Topic", new { systemName = "hom_about-us" })
                </div>
                <div id="contactUsSection">
                    @Html.Action("TopicBlock", "Topic", new { systemName = "hom_contact-us" })
                </div>
              

            </div>
            <div class="col-sm-8">
                <div class="row footer-upper">
                    <div class="column newsletter-wrapper col-sm-7 col-md-12">
                        <div class="row">
                            <div class="col-sm-7">
                                 @Html.Action("TopicBlock", "Topic", new { systemName = "hom_footer_emaillist" })
                                @Html.Widget("join_email_list", new { list = "HOM:Website_Signups", form = "FooterOptIn" })

								
                                @*@Html.Action("NewsletterBox", "Newsletter")*@
                                <div class="follow-us">
                                    @Html.Action("Social", "Common")
                                </div>

                            </div>

                            <div class="col-sm-5">
                                <h3 class="footer-title">Shop With Confidence</h3>
                               
                                <!-- Begin DigiCert site seal HTML and JavaScript -->
<div id="DigiCertClickID_PckNbLXo" style="padding-top: 15px;">
	<a href="https://seal.digicert.com/seals/popup/?tag=PckNbLXo&lang=en" target="_blank"><img alt="DigiCert SSL" src="~/Themes/HouseOfMagnet/Content/images/digicert.png"></a> 
</div>
<!-- End DigiCert site seal HTML and JavaScript -->

                            </div>

                        </div>
                    </div>
                </div>
                    <div class="row footer-middle">
                        <div class="column my-account col-sm-4 col-md-4">
                            <div class="title">
                                <strong>NAVIGATION</strong>
                            </div>
                            
                            <ul class="nav nav-list">
                               <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                               
								 @if (Model.NewsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("NewsArchive")"><i class="fa fa-angle-double-right"></i>@T("News")</a></li>
                                }
                                @if (Model.BlogEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Blog")"><i class="fa fa-angle-double-right"></i>@T("Blog")</a></li>
                                }
                                @if (Model.ForumEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Boards")"><i class="fa fa-angle-double-right"></i>@T("Forum.Forums")</a></li>
                                }
                                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                                {
                                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })"><i class="fa fa-angle-double-right"></i>@topic.Name</a></li>
                                }
								<li><a href="/business-cards"><i class="fa fa-angle-double-right"></i>Business Cards</a></li>
								<li><a href="/calendars"><i class="fa fa-angle-double-right"></i>Calendars</a></li>
								<li><a href="/sports-schedules"><i class="fa fa-angle-double-right"></i>Sports Schedules</a></li>
								<li><a href="/notepads"><i class="fa fa-angle-double-right"></i>Notepads</a></li>
								<li><a href="/specialty"><i class="fa fa-angle-double-right"></i>Specialty Magnets</a></li>
								<li><a href="/more-products"><i class="fa fa-angle-double-right"></i>More Products</a></li>
                            </ul>
                        </div>
                        <div class="column customer-service col-sm-4 col-md-4">
                            <div class="title">
                                <strong>@T("Footer.CustomerService")</strong>
                            </div>
                            <ul class="nav nav-list">							     
								 <li><a href="@Url.RouteUrl("ProductSearch")"><i class="fa fa-angle-double-right"></i>@T("Search")</a> </li>
                                  @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                                {
                                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })"><i class="fa fa-angle-double-right"></i>@topic.Name</a></li>
                                }
                                @if (Model.SitemapEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Sitemap")"><i class="fa fa-angle-double-right"></i>@T("Sitemap")</a></li>
                                }
                            
								 @if (Model.RecentlyViewedProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("RecentlyViewedProducts")"><i class="fa fa-angle-double-right"></i>@T("Products.RecentlyViewedProducts")</a></li>
                                }
                                @if (Model.CompareProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("CompareProducts")"><i class="fa fa-angle-double-right"></i>@T("Products.Compare.List")</a></li>
                                }
                                @if (Model.NewProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("NewProducts")"><i class="fa fa-angle-double-right"></i>@T("Products.NewProducts")</a></li>
                                }
                            </ul>
                        </div>
                       <!-- <div class="column information col-sm-3 col-md-3">
                            <div class="title">
                                <strong>@T("Footer.Information")</strong>
                            </div>
                            <ul class="nav nav-list">
                             
                                @if (Model.AllowCustomersToApplyForVendorAccount)
                                {
                                    <li><a href="@Url.RouteUrl("ApplyVendorAccount")"><i class="fa fa-angle-double-right"></i>@T("Vendors.ApplyAccount")</a></li>
                                }
                            </ul>
                        </div>-->
                        <div class="column contact-wrapper col-sm-4 col-md-4">
                            <div class="title">
                                <strong>My Account</strong>
                            </div>
                            <ul class="nav nav-list">
							 <li><a href="@Url.RouteUrl("CustomerInfo")"><i class="fa fa-angle-double-right"></i>@T("Account.MyAccount")</a></li>
                                <li><a href="@Url.RouteUrl("CustomerOrders")"><i class="fa fa-angle-double-right"></i>@T("Account.CustomerOrders")</a></li>
                                <li><a href="@Url.RouteUrl("CustomerAddresses")"><i class="fa fa-angle-double-right"></i>@T("Account.CustomerAddresses")</a></li>
                                @if (Model.ShoppingCartEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("ShoppingCart")"><i class="fa fa-angle-double-right"></i>@T("ShoppingCart")</a></li>
                                }
                                @if (Model.WishlistEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Wishlist")"><i class="fa fa-angle-double-right"></i>@T("Wishlist")</a></li>
                                }
								
                                  @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                                {
                                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })"><i class="fa fa-angle-double-right"></i>@topic.Name</a></li>
                                }
                               
                            </ul>
                        </div>
                    </div>
            </div>

        </div>
    </div>

    <div class="footer-lower">
        <div class="container">
            <div class="row ">
                <div class="footerlink">  @Html.Action("TopicBlock", "Topic", new { systemName = "hom_footer-gbs-family" })</div>
                <div class="footer-disclaimer">
                    @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                </div>
                
                @*<div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer-information">
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                            <span class="footer-tax-shipping">
                                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                    @if (!Model.HidePoweredByNopCommerce)
                    {
                        <div class="poweredby">
                            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                            Please find more info at http://www.nopcommerce.com/copyrightremoval.aspx
                            Powered by <a target="_blank" href="http://www.nopcommerce.com/">nopCommerce</a>
                        </div>
                    }
                    <div class="payment-method">
                        <ul>
                            <li class="payment-method1"></li>
                            <li class="payment-method2"></li>
                            <li class="payment-method3"></li>
                            <li class="payment-method4"></li>
                            <li class="payment-method5"></li>
                        </ul>
                    </div>
                </div>*@
                @*<div class="col-xs-12 col-sm-4 col-md-4 footer-store-theme">
                    <div class="footer-disclaimer">
                        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                    </div>
                    @Html.Action("StoreThemeSelector", "Common")
                </div>*@
                @*<div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="designedby pull-right">
                        <div class="footer-theme-credit"><a href="http://themes.nopaccelerate.com/themes/nopaccelerate-simplex-theme-3/" target="_blank" title="Responsive Noble Theme for nopCommerce">nopAccelerate Simplex Theme</a></div>
                        <div class="footer-designedby">Theme by <a target="_blank" href="http://www.nopaccelerate.com/">nopAccelerate</a></div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    @Html.Widget("footer")
</div>

