@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@model Nop.Plugin.BusinessLogic.GBS.Models.AccessoryPageBoxModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@using Nop.Web.Framework.Themes


@{

    Layout = "";
    //var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/hom-gateway.css", themeName));

}


@{ 
    var bestPrice = "";
    var mostPopular = "";
    var alt = Model.name.Replace(" ", "") + "-image";
    //var width = Model.width.ToString("f1");
    //var length = Model.length.ToString("f1");

    //if (Model.isFeatured)
    //{
    //    bestPrice = "pricing-box best-price";
    //    mostPopular = "Most Popular";
    //} else
    //{
    //    bestPrice = "pricing-box";
    //}
}

<div class='col-md-3 accessory'>

    <div class='@bestPrice'>

        <div class='accessory-image'>
            @*@Html.Widget("product_details_widget", Model.featuredProductId)*@
            <a href="@Model.categoryPageLink"><img alt="@alt" src="@Model.mainPicturePath" /></a>
        </div>
        <div class='pricing-title accessory-title'>
            <h3>@Model.name</h3>
            <span>@mostPopular</span>
        </div>
        <div class='pricing-features accessory-pricing-features'>
                   
            <div class='accessory-pricing'>Starting at $@Model.price.ToString("0.#0")</div>

        </div>

        <div>
            <p class="accessory-description">@Model.description</p>
        </div>

        @{
            if (Model.isFeatured)
            {
            //   <div class='pricing-action'><a href='@Model.productLink' class='team-handle button button-rounded button-reveal button-large button-green tright'><i class='icon-angle-right'></i><span>Select</span></a></div>
            }
            else
            {
            //    <div class='pricing-action'><a href='@Model.productLink' class='team-handle button button-rounded button-reveal button-large button-blue tright'><i class='icon-angle-right'></i><span>Select</span></a></div>
            }
        }

    </div>
</div>
