@{
    Layout = "";
}
@using Nop.Web.Framework
@model Nop.Plugin.Widgets.CustomersCanvas.Model.CcSettingsViewModel

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ServerHostUrl_OverrideForStore, model => model.ServerHostUrl, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ServerHostUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ServerHostUrl)
                        @Html.ValidationMessageFor(model => model.ServerHostUrl)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
                
                <br /> <hr /> <br />

                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">@T("Plugins.Widgets.CustomersCanvas.Config.UpdateFonts")</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="button" name="updateFonts" id="ccupdatefonts" onclick="ccUpdateFonts()" class="btn bg-blue" value="@T("Plugins.Widgets.CustomersCanvas.Config.UpdateFontsButton")" />
                    </div>
                </div>

                <label id="succ-cc-label" style="display:none; color:green;"> Success! </label>
                <label id="err-cc-label" style="display:none; color:red;"> Error! </label>

            </div>
        </div>
    </div>
}
<script>
    function ccUpdateFonts() {
        var link = '@Url.Action("ReloadLocalFonts", "CcConfig")';
        $.ajax({
            cache: false,
            url: link,
            type: "post",
            success: function () {
                $("#succ-cc-label").show();
                $("#err-cc-label").hide();
                setTimeout(function () {
                    $("#succ-cc-label").hide();
                }, 4000);
            },
            error: function (xhr, textStatus, thrownError) {
                console.error("Error reload Customers Canvas fonts: " + thrownError);
                console.error("filed to load" + this.url, textStatus, xhr.status, thrownError, xhr.responseText);
                $("#succ-cc-label").hide();
                $("#err-cc-label").text("Error! " + thrownError);
                $("#err-cc-label").show();
                setTimeout(function () {
                    $("#err-cc-label").hide();
                    $("#err-cc-label").text("Error!");
                }, 4000);
            }
        });
    }
</script>