@model TopicModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Models.Topics;
@using Nop.Core.Infrastructure;
@using Nop.Services.Logging;
@using Nop.Services.Catalog;
@using Nop.Core.Domain.Catalog;
@using System.Web.Script.Serialization;
@*@using Nop.Plugin.Payments.GBS;*@
@using System.Data;
@using System.Xml;
@using Nop.Core;
@using Nop.Core.Domain.Orders;
@using Nop.Services.Orders;
@using Nop.Plugin.BusinessDataAccess.GBS;
@{

    DBManager manager = new DBManager();
    DataView namebadgeIframeData = null;

    Layout = "~/Views/Shared/_Empty.cshtml";

    string page = string.Empty;
    int canvasOnHom = 0;
    //try
    //{
    //int prodId = Convert.ToInt32(Request.QueryString["id"]);
    //int prodId = Int32.Parse(Model.CustomProperties["productId"].ToString());

    //int productId = Int32.Parse(Session["productId"].ToString());
    int categoryId = Int32.Parse(Session["categoryId"].ToString());

    //int cartId = Convert.ToInt32(Request.QueryString["cartid"]);
    //int cartItemID = (!string.IsNullOrEmpty(Request.QueryString["updatecartitemid"])) ? Convert.ToInt32(Request.QueryString["updatecartitemid"]) : 0;
    //string qty = (!string.IsNullOrEmpty(Request.QueryString["qty"])) ? Request.QueryString["qty"] : "";
    //string sku = Request.QueryString["sku"];
    //string iframeData = string.Empty;
    //var SpecAttr = EngineContext.Current.Resolve<ISpecificationAttributeService>();
    //var workContext = EngineContext.Current.Resolve<IWorkContext>();
    //var _storeContext = EngineContext.Current.Resolve<IStoreContext>();
    //var attributeService = EngineContext.Current.Resolve<IProductAttributeService>();
    //var attributeParser = EngineContext.Current.Resolve<IProductAttributeParser>();
    //var attributeFormatter = EngineContext.Current.Resolve<IProductAttributeFormatter>();
    //var CurrentSpecAttr = (IList<ProductSpecificationAttribute>)SpecAttr.GetProductSpecificationAttributes(productId);
    //TODO
    //db look up for iframe url using categoryid

    string query = "EXEC usp_SelectGBSEntityURL @Entityid, @EntityName, @key";
    //string query = "EXEC usp_SelectGBSEntityURL_Test @Entityid";
    Dictionary<string, Object> namebadgeDic = new Dictionary<string, Object>();
    namebadgeDic.Add("@Entityid", categoryId);
    namebadgeDic.Add("@EntityName", "category");
    namebadgeDic.Add("@key", "NameBadgeURL");

    namebadgeIframeData = manager.GetParameterizedDataView(query, namebadgeDic);
    if (namebadgeIframeData.Count > 0)
    {
        page = namebadgeIframeData[0]["value"].ToString();
    }
    //handle for which html to use
    canvasOnHom = page.Contains("pageid") ? 1 : 0;

    //string attributeXml = string.Empty;
    //bool editActive = false;


    @*<input type="hidden" id="hdn-edit-active" value="@editActive.ToString()" />
    <input type="hidden" id="hdn-cart-item-id" value="@cartItemID" />
    <input type="hidden" id="hdn-qty" value="@qty" />*@
    @*<input type="hidden" id="hdn-category-id" value="@categoryId" />*@
    @*<input type="hidden" id="hdn-iframe-data" value="@iframeData" />*@
    <input type="hidden" id="hdn-canvas-status" value="@canvasOnHom" />
    
    <div class="gluon-template" style="overflow:hidden; height: 100%">
        <iframe id="hom-nb-iframe" src="@T("hom.url")@page" style="height:1500px; width:100%;"></iframe>
    </div>
}

<script type="text/javascript" src="/Themes/HouseofMagnet/Content/js/iframe-data.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //var iframe = document.getElementById('hom-nb-iframe');

        window.addEventListener("message", function (e) {
            if ($("#hdn-canvas-status").val() == 1) {
                //canvas hom ver addToCart
                canvasOnHomAddToCart(e);
                console.log("add to cart canvas on hom");

            }else {
                addToCart(e);
            }
            
        }, false);

        function canvasOnHomAddToCart(e) {


            console.log(" inside canvas on hom function");

            var data = e.data;

            console.log("jsonStuff : " + data);

            $.ajax({
                type: "POST",
                url: "/addiframehomcanvasnamebadgetocart",               
                contentType: "application/json; charset=utf-8",    
                dataType: "json",
                data: JSON.stringify({ 'data': data }),

                success: function (msg) {

                    console.log("canbas on hom success");
                    //redirect
                    //var obj = $.parseJSON(msg);
                    //window.top.location.href = obj['redirect'];
                    

                    if (location.href.includes("/cart")) {
                        location.reload();
                    } else {
                        window.top.location.href = msg['redirect'];
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    console.log("canbas on hom error");
                }       
                
            
            });
        }



        function addToCart(e) {

            //var obj = $.parseJSON(e);

            var dataHomJson = $.parseJSON(e.data);
            var formURL = dataHomJson['formURL'];

            var dataTest = e.data;
            var dataJson = dataHomJson['formData'];

            //convert json to form
            var data = new FormData();
            for (var key in dataJson) {
                data.append(dataJson[key].name, dataJson[key].value);
            }

            $.ajax(
                {
                    type: "POST",
                    dataType: "html",
                    url: formURL,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        var obj = $.parseJSON(msg);
                        //console.log("msg: " + msg);
                        //console.log("redirect value: " + obj['redirect']);
                        //window.top.location.href = document.getElementById('nopcart').value + obj['redirect'];
                        window.top.location.href = obj['redirect'];
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //if fails
                        console.log("fail");
                    }
                });


        }

    });
</script>



