@{
    Layout = "";
    var purchaseOrderNumber = HttpContext.Current.Session["purchaseOrderNumber"];
    var purchaseOrderName = HttpContext.Current.Session["purchaseOrderName"];
    var purchaseOrderPhoneNumber = HttpContext.Current.Session["purchaseOrderPhoneNumber"];
}
@model Nop.Plugin.Payments.GBS.PurchaseOrder.Models.PaymentInfoModel
<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td width="100px">
            @Html.LabelFor(model => model.PurchaseOrderNumber, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.PurchaseOrderNumber, new { style = "Width: 165px;", autocomplete = "off", Value = purchaseOrderNumber })
            @Html.ValidationMessageFor(model => model.PurchaseOrderNumber)
        </td>
    </tr>
    <tr>
        <td width="100px">
            @Html.LabelFor(model => model.PurchaseOrderName, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.PurchaseOrderName, new { style = "Width: 165px;", autocomplete = "off", Value = purchaseOrderName })
            @Html.ValidationMessageFor(model => model.PurchaseOrderName)
        </td>
    </tr>
    <tr>
        <td width="150px">
            @Html.LabelFor(model => model.PurchaseOrderPhoneNumber, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.PurchaseOrderPhoneNumber, new { style = "Width: 165px;", autocomplete = "off", Value = purchaseOrderPhoneNumber })
            @Html.ValidationMessageFor(model => model.PurchaseOrderPhoneNumber)
        </td>
    </tr>
</table>
