@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
@{ 
    ShoppingCartModel shoppingCartModel = ViewBag.ShoppingCartModel as ShoppingCartModel;
}
<div class="total-info">
    <div class="gbs-panel-white">
        <div class="cart-total-left gbs-panel-title-uppercase gbs-margin-bottom-10">
            <strong>@T("ShoppingCart.Totals.OrderSummary")</strong>
        </div>
        
        <table class="cart-total">
            <tbody>
                <tr>
                    <td class="cart-total-left">
                        <span class="">@T("ShoppingCart.Totals.SubTotal")</span>
                    </td>
                    <td class="cart-total-right">
                        <span class=""><span class="gbs-product-price">@Model.SubTotal</span> </span>
                    </td>
                </tr>
                @if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
                {
                    <tr>
                        <td class="cart-total-left">
                            <label>@T("ShoppingCart.Totals.SubTotalDiscount"):</label>
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@Model.SubTotalDiscount</span> </span>
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
                {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">
                                @T("ShoppingCart.Totals.OrderTotalDiscount")
                            </span>
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@Model.OrderTotalDiscount</span> </span>
                        </td>
                    </tr>
                }
                <tr class="cart-total-middle discount-box-td">
                    <td>@Html.CheckBox("checkbox-coupon-code", false, new {@class = "checkbox-coupon-code"}) Coupon</td>
                
                </tr>
                <tr class="cart-total-middle">
          
                    <td class="coupon-total-wrap gbs-no-display">@Html.Partial("_DiscountBoxTotal", shoppingCartModel.DiscountBox)</td>
                </tr>
                <tr>
                    <td class="cart-total-left">
                        <span class="">
                            @T("ShoppingCart.Totals.Shipping")</span>
                        @if (Model.RequiresShipping && !String.IsNullOrEmpty(Model.SelectedShippingMethod))
                        {
                            <span class="selected-shipping-method">@T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)</span>
                        }
                    </td>
                  
                    <td class="cart-total-right">
                        <span class="">
                            @if (Model.RequiresShipping)
                            {
                                if (!String.IsNullOrEmpty(Model.Shipping))
                                {
                                <span class="gbs-product-price">@Model.Shipping
                                </span>
                                }
                                else
                                {
                                <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                                }
                            }
                            else
                            {
                                <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                            }
                        </span>
                    </td>
                </tr>
                @*<tr class="cart-total-middle">
                    <td>@Html.CheckBox("checkbox-expedite-shipping", false) Expedite Shipping<i class="icon-question"></i></td>
                   
                </tr>
                <tr class="cart-total-middle">
                    <td>@Html.Partial("_EstimateShippingResultTotal", shoppingCartModel.EstimateShipping)</td>
                </tr>*@
                @if (!String.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">@T("ShoppingCart.Totals.PaymentMethodAdditionalFee")</span>
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@Model.PaymentMethodAdditionalFee</span>
                            </span>
                        </td>
                    </tr>
                }
                @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                {
                    foreach (var taxRate in Model.TaxRates)
                    {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">
                                @string.Format(T("ShoppingCart.Totals.TaxRateLine").Text, taxRate.Rate)
                                :</span>
                        </td>
                        <td class="cart-total-right">
                            <span class="">
                                @taxRate.Value
                            </span>
                        </td>
                    </tr>
                    }
                }
                @if (Model.DisplayTax)
                {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">@T("ShoppingCart.Totals.Tax") </span><a ref="#" data-toggle="tooltip" class="gbs-cursor-pointer gbs-color-black" title="The California (CA) state tax base rate is currently 7.25%. However shipments delivered to zip codes 92019, 92020, and 92021 will incur the local tax rate of 8.25%."><i class="icon-question"></i></a>
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@Model.Tax</span> </span>
                        </td>
                    </tr>
                }
               
               @if (Model.GiftCards.Count > 0)
                {
                    foreach (var gc in Model.GiftCards)
                    {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">
                               @T("ShoppingCart.Totals.GiftCardInfo", gc.CouponCode)
                                @if (Model.IsEditable)
                                {

                                    /*empty value (little hack for FormValueExistsAttribute)*/
                                    @*<input type="submit" name="removegiftcard" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />*@
                                    <input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
                                }
                                : </span>
                            <span class="remaining-price">@string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
                            @*<input type="hidden" name="giftcardid" value="@gc.Id" />*@
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@gc.Amount</span> </span>
                        </td>
                    </tr>
                    
                    }
                }
                @if (Model.RedeemedRewardPoints > 0)
                {
                    <tr>
                        <td class="cart-total-left">
                            <span class="">
                                @string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints)</span>
                        </td>
                        <td class="cart-total-right">
                            <span class=""><span class="gbs-product-price">@Model.RedeemedRewardPointsAmount</span>
                            </span>
                        </td>
                    </tr>
                }
                <tr class="gbs-line-border-top ">
                    <td class="cart-total-left grand-total-title gbs-padding-top-10">
                        <span class="gbs-text-green">
                            <strong>@T("ShoppingCart.Totals.OrderTotal")</strong></span>
                    </td>
                    <td class="cart-total-right grand-total-prices gbs-padding-top-10">
                        <span class="">
                            @if (!String.IsNullOrEmpty(Model.OrderTotal))
                            {
                                <span class="gbs-product-price order-total gbs-text-green"><strong>@Model.OrderTotal</strong></span>
                            }
                            else
                            {
                                <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                            }
                        </span>
                    </td>
                </tr>
                @if (Model.WillEarnRewardPoints > 0)
                {
                    <tr class="will-earn-reward-points">
                        <td class="cart-total-left">
                            <span class="">
                                @T("ShoppingCart.Totals.RewardPoints.WillEarn")
                            </span>
                        </td>
                        <td class="cart-total-right">
                            <span class="">
                                <span class="gbs-product-price">@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</span>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();   
        $(".checkbox-coupon-code").click(function () {
            if ($(this).is(':checked'))
            {
                $(".coupon-total-wrap").show();
            } else {
                $(".coupon-total-wrap").hide();
            }
        });

        $("#checkbox-expedite-shipping").click(function () {
            if ($(this).is(':checked')) {
                $("#estimate-shipping-total-wrap").show();
            } else {
                $("#estimate-shipping-total-wrap").hide();
            }
        });
    });
</script>