@model CheckoutProgressModel
@using Nop.Web.Models.Checkout;

<div class="row process-step-outter-wrap gbs-progress-bar-border">
    <div class="col-sm-12 col-xs-12 col-md-12 process-step-wrap">
        <ul class="process-steps gbs-step-process bottommargin clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix" role="tablist">
            @Html.Widget("checkout_progress_before")
            <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping ? @Html.Raw(" class=\"ui-tabs-active\"") : (Model.CheckoutProgressStep == CheckoutProgressStep.Address || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Payment) ? @Html.Raw(" class=\"ui-tabs-done\"") : @Html.Raw(" class=\"\"")) role="tab" tabindex="-1" aria-controls="ptab1" aria-labelledby="ui-id-1" aria-selected="false">
                <h5>Shipping</h5>
                <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Shipping ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutShippingAddress"))) : null) class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">1</a>
            </li>
            <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Payment  ? @Html.Raw(" class=\"ui-tabs-active\"") : (Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Address) ? @Html.Raw(" class=\"ui-tabs-done\"") : @Html.Raw(" class=\"\"")) role="tab" tabindex="-1" aria-controls="ptab2" aria-labelledby="ui-id-2" aria-selected="false">
                <h5>Payment</h5>
                <a @(Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Address || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm ? @Html.Raw(string.Format(" href=\"{0}\"", Url.RouteUrl("CheckoutPaymentMethod"))) : null) class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2</a>
            </li>
            <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Confirm ? @Html.Raw(" class=\"ui-tabs-active\"") : @Html.Raw(" class=\"\"")) role="tab" tabindex="-1" aria-controls="ptab3" aria-labelledby="ui-id-3" aria-selected="false">
                <h5>Place Order</h5>
                <a href="#ptab4" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">3</a>
            </li>
            @Html.Widget("checkout_progress_after")
        </ul>
    </div>
</div>