<div class="row clearfix">
    <div class="col-md-2">
        <div class="sidenav">
            <img src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/product-category-img.jpg" />
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @*Business Cards*@
                    @T("MarketCenters.Client.Products.BusinessCards")
                </div>
                <div class="panel-body">
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/1.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/2.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/3.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/4.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/5.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    @T("MarketCenters.Client.Products.DirectionalSigns")
                </div>
                <div class="panel-body">
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/1.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/2.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/3.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/4.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/5.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">                    
                    @T("MarketCenters.Client.Products.CarMagnets")
                </div>
                <div class="panel-body">
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/1.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/2.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/3.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/4.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="business-card">
                            <img width="238" height="139" src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/5.png" />
                            <div class="card-links">
                                <a href="#" class="edit-link">@T("MarketCenters.Client.Products.Edit") </a>
                                <a href="#" class="remove-link">@T("MarketCenters.Client.Products.Remove")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>