<div class="proofs-page">
    <div class="row clearfix">
        <div class="col-md-2">
            <div class="sidenav">
                <img src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/product-category-img.jpg" />
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*Client Proof Link*@
                        @T("MarketCenters.Client.Proof.ProofLink")
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9 col-xs-6">
                            <div class="proof-link"><strong><i class="fa fa-question-circle"></i> @T("MarketCenters.Client.Proof.Url")</strong> http://www.houseofmagnets.com/century21/proof</div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <input type="submit" class="btn bg-blue" value="@T("MarketCenters.Client.Proof.SendEmail")" />
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*Business Cards*@
                        @T("MarketCenters.Client.Proof.BusinessCards")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="card-item">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="business-horizontal"><img src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/business-ho.jpg" /></div>
                                </div>
                                <div class="col-sm-7 col-xs-12 business-cardinfo">
                                    <h3>@T("MarketCenters.Client.Proof.BusinessCardTtle"): MCBC00000014</h3>
                                    <div class="proof-time"><strong>@T("MarketCenters.Client.Proof.Status"):</strong> Awaiting feedback 8/11/2017 - 10:50AM</div>
                                    <ul class="proof-list">
                                        <li><a href="/Plugin/MarketCenters/CustomizeDesign">@T("MarketCenters.Client.Proof.CustomizeDesignLink")</a></li>
                                        <li><a href="/Plugin/MarketCenters/AssociateSpecificBacks">@T("MarketCenters.Client.Proof.AssociateLink")</a></li>
                                        <li><a href="#">@T("MarketCenters.Client.Proof.AddToMarketCenterLink")</a></li>
                                    </ul>
                                    <div class="buttons-group">
                                        <span id="topic-delete" class="btn bg-red" data-toggle="modal" data-target="#topicmodel-delete-confirmation">
                                            <i class="fa fa-trash-o"></i>
                                            @T("MarketCenters.Client.Proof.RemoveProof")
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-item">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="business-horizontal"><img src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/business-ho2.jpg" /></div>
                                </div>
                                <div class="col-sm-7 col-xs-12 business-cardinfo">
                                    <h3>@T("MarketCenters.Client.Proof.BusinessCardTtle"): MCBC00000014</h3>
                                    <div class="proof-time"><strong>@T("MarketCenters.Client.Proof.Status"):</strong> Awaiting feedback 8/11/2017 - 10:50AM</div>
                                    <ul class="proof-list">
                                        <li><a href="/Plugin/MarketCenters/CustomizeDesign">@T("MarketCenters.Client.Proof.CustomizeDesignLink")</a></li>
                                        <li><a href="/Plugin/MarketCenters/AssociateSpecificBacks">@T("MarketCenters.Client.Proof.AssociateLink")</a></li>
                                        <li><a href="#">@T("MarketCenters.Client.Proof.AddToMarketCenterLink")</a></li>
                                    </ul>
                                    <div class="buttons-group">
                                        <input class="btn bg-blue" value="@T("MarketCenters.Client.Proof.ShowProof")" type="submit">
                                    </div>
                                </div>
                            </div>
                            <div class="card-item">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="business-horizontal"><img src="/Plugins/Widgets.MarketCenters.GBS/content/SampleImages/business-ho.jpg" /></div>
                                </div>
                                <div class="col-sm-7 col-xs-12 business-cardinfo">
                                    <h3>@T("MarketCenters.Client.Proof.BusinessCardTtle"): MCBC00000014</h3>
                                    <div class="proof-time"><strong>@T("MarketCenters.Client.Proof.Status"):</strong> Awaiting feedback 8/11/2017 - 10:50AM</div>
                                    <ul class="proof-list">
                                        <li><a href="/Plugin/MarketCenters/CustomizeDesign">@T("MarketCenters.Client.Proof.CustomizeDesignLink")</a></li>
                                        <li><a href="/Plugin/MarketCenters/AssociateSpecificBacks">@T("MarketCenters.Client.Proof.AssociateLink")</a></li>
                                        <li><a href="#">@T("MarketCenters.Client.Proof.AddToMarketCenterLink")</a></li>
                                    </ul>
                                    <div class="buttons-group">
                                        <input class="btn bg-blue" value="@T("MarketCenters.Client.Proof.ShowProof")" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>