@using Nop.Web.Framework;
@model Nop.Plugin.Widgets.MarketCenters.GBS.Models.Clients.ClientDetailsModel
@{
    //page title
    ViewBag.Title = T("MarketCenters.Client.EditClientDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Categories");
    Html.AppendCssFileParts("~/Plugins/Widgets.MarketCenters.GBS/Content/css/Admin_MarketCenters.css");
    Html.AppendCssFileParts("~/Plugins/Widgets.MarketCenters.GBS/Scripts/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css");
    Html.AppendScriptParts("~/Plugins/Widgets.MarketCenters.GBS/Scripts/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js");    
    Html.AppendScriptParts("~/Plugins/Widgets.MarketCenters.GBS/Scripts/Admin_MarketCenters.js");    
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "client-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("MarketCenters.Client.EditClientDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("MarketCenters.Client.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="button" onclick="javascript:OpenWindow('', 800, 600, true); return false;" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                @T("Admin.Common.Preview")
            </button>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="client-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("~/Plugins/Widgets.MarketCenters.GBS/Views/_CreateOrUpdateClientDetails.cshtml", Model)
}
@Html.DeleteConfirmation("client-delete")
