@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.BusinessLogic.GBS.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())

{
@Html.AntiForgeryToken()
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.Hack_OverrideForStore, model => model.Hack, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.Hack):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Hack)
            @Html.ValidationMessageFor(model => model.Hack)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.MarketCenterDefaultId_OverrideForStore, model => model.MarketCenterDefaultId, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.MarketCenterDefaultId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MarketCenterDefaultId)
            @Html.ValidationMessageFor(model => model.MarketCenterDefaultId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.MarketCenterWhatAmIReferenceName_OverrideForStore, model => model.MarketCenterWhatAmIReferenceName, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.MarketCenterWhatAmIReferenceName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MarketCenterWhatAmIReferenceName)
            @Html.ValidationMessageFor(model => model.MarketCenterWhatAmIReferenceName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.MarketCenterNameBadgeDefaultId_OverrideForStore, model => model.MarketCenterNameBadgeDefaultId, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.MarketCenterNameBadgeDefaultId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MarketCenterNameBadgeDefaultId)
            @Html.ValidationMessageFor(model => model.MarketCenterNameBadgeDefaultId)
        </td>
    </tr>    
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.MarketCenterCarMagnetDefaultId_OverrideForStore, model => model.MarketCenterCarMagnetDefaultId, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.MarketCenterCarMagnetDefaultId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MarketCenterCarMagnetDefaultId)
            @Html.ValidationMessageFor(model => model.MarketCenterCarMagnetDefaultId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.OverrideStoreCheckboxFor(model => model.MarketCenterBusinessCardDefaultId_OverrideForStore, model => model.MarketCenterBusinessCardDefaultId, Model.ActiveStoreScopeConfiguration)
            @Html.NopLabelFor(model => model.MarketCenterBusinessCardDefaultId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MarketCenterBusinessCardDefaultId)
            @Html.ValidationMessageFor(model => model.MarketCenterBusinessCardDefaultId)
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </td>
    </tr>
</table>

}