@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@model Nop.Plugin.BusinessLogic.GBS.Domain.SportsTabs
@using Nop.Plugin.BusinessLogic.GBS.Models;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@using System.Text;
@using Nop.Plugin.BusinessLogic.GBS.Domain;


<div id="gatewayPageTitle" class="page-title panel-heading gateway-title">
    <h1 id="gatewayH1" class="gateway-h1">@Model.H1</h1>
    <div class="gateway-h2-wrap">
        <p class="gateway-h2"><span>@Model.H2</span></p>
    </div>
</div>

@*<div id="selectTeamDiv" style="display: none">
    <p id="selectedTeam"></p><a id="changeSelectedTeam">(Change)</a>
</div>*@

<div id="gateway-body" style="background-color : @Model.BackgroundColor;" class="bottommargin topmargin ">
    <div id="gateway-body-inner" style="background-image: url(@Model.BackgroundPicturePath)">
        <input id="cssChange" type="hidden" value="" />
        <input id="originalBodyHeight" type="hidden" value="" />
             
        <div id="topInner">
            <p id="gatewayTopText">
                @Model.UpperText
            </p>
        </div>
        <div id="gatewayLayersContainer">
            <div id="teamSelect">
                <main>

                    @for (int i = 0; i < Model.tabs.Count; i++)
                    {
                        if (i == 0)
                        {
                            <input id='tab@(i + 1)' type='radio' name='tabs' checked>
                        }
                        else
                        {
                            <input id='tab@(i + 1)' type='radio' name='tabs'>
                        }

                        <label id='label@(i + 1)' class='gateway-label' for='tab@(i + 1)'> @Model.tabs[i].tabName </label>

                    }
                    @for (int j = 0; j < Model.tabs.Count; j++)
                    {

                        //IList<Category> teamList = categoryService.GetAllCategoriesByParentCategoryId(teamCategories[j].Id);
                        //List<SportsTeam> teams = sportsTeam.CreateSportsTeamListFromCategories(teamList);
                        List<TabData> teamsInOrder = (List<TabData>)Model.tabs[j].TeamLinks.OrderBy(x => x.teamName).ToList();
                        //int cur = 1;
                        <section id='content@(j + 1)'>
                            <div class="columns teamname">                                
                                @foreach (TabData curTeam in teamsInOrder)
                                {     
                                    <a id='' class='team-from-list' href='@curTeam.teamLink'> @curTeam.teamName </a><br />                                                                        
                                }
                            </div>
                        </section>
                    }
                                        
                </main>

            </div>
            <div id="sportImage">
                <img id="gatewayForegroundImage" class="" src="@Model.ForegroundPicturePath" />
            </div>
        </div>
        <div id="bottomInnerTabs">
            <p id="gatewayBottomText">
                @Model.LowerText
            </p>
        </div>
        
    </div>
</div>




<script>

    //$(document).ready(function () {
               

    //    $(".team-from-list").click(function () {            
    //    })

    //    $("#changeSelectedTeam").click(function () {
    //        $("#gatewayWYSIWYG").hide();
    //        $("#teamSelect").show();
    //        $("#selectTeamDiv").hide();
    //    })               

    //    function LoadTeamCategoryProducts(id) {

    //        var link = "sportsgateway/GatewayCatalogProducts/sportsTeam/" + id;
    //        //console.log(id)

    //        $.ajax({
    //            type: "GET",
    //            url: link,
    //            cache: false,
    //            contentType: "application/x-www-form-urlencoded; charset=utf-8",
    //            dataType: "html",
    //            success: function (msg) {
    //                console.log("success");
    //                console.log(msg);
    //                console.log(msg.message);
                    
    //                $("#gatewayWYSIWYG").html(msg);
    //                $("#gatewayWYSIWYG").show();
                   
    //            },
    //            error: function (msg) {
    //                console.log("error");
    //                console.log(msg);
    //                console.log(msg.d);
    //            },
    //            complete: function (data) {

    //            },

    //        });
    //    }
        
    //    var obj = jQuery.parseJSON('{ "outer": "#videoAndQuantityCalculatorWrap" , "inner": "#innerVidAndWQtyCalc" }');
    //    CustomResize();

    //    obj = jQuery.parseJSON('{ "outer": "#gateway-body" , "inner": "#gateway-body-inner" }');
    //    CustomResize();

    //    function CustomResize() {
    //        $(window).resize(obj, function () {

    //            var $c = $('.container'),
    //                $w = $(obj.outer),
    //                totalWidth = $('.footer').outerWidth(),
    //                wellWidth = $c.outerWidth(),
    //                diff = totalWidth - wellWidth,
    //                marg = -Math.floor(diff / 2) + 'px';
    //            $w.each(function () {
    //                $(this).css({
    //                    'margin-left': marg,
    //                    'margin-right': marg
    //                });
    //            })

    //            $(obj.inner).width($(".container").width());

    //            console.log("width : " + $(".container").width());

    //        });

    //        $(window).resize();
    //    }

    //    function PageBodyResizeForMultipleProductRows(currentWYSIWYG) {
    //        if (currentWYSIWYG != null && currentWYSIWYG != "") {
    //            //save original height incase team is changed
    //            $("#originalBodyHeight").val($("#gateway-body").height());
    //            //change body height for multiple row products
    //            var newHeight = parseInt($("." + currentWYSIWYG).height() + 180) + "px";
    //            $("#gateway-body").height(newHeight);
    //            $("#gateway-inner").height(newHeight);


    //            if ($("#gateway-body").height() > 900) {
    //                //football foreground image adjust, check if wysiwyg height is greater than a single rows height.
    //                $("#gatewayForegroundImage").addClass("gateway-foreground-sports-multirow");
    //            }

    //        } else {
    //            $("#gateway-body").height($("#originalBodyHeight").val());
    //            $("#gateway-inner").height($("#originalBodyHeight").val());

    //            $("#gatewayForegroundImage").removeClass("gateway-foreground-sports-multirow");
    //        }

    //    }        

    //    $("#gateway-inner").height($("#gateway-body").height());

    //    $("#cssChange").click();

    //    //remove topic header
    //    $("#chartWrap div.panel-heading").remove();

    //    $("#videoAndQuantityCalculatorWrap div.panel-heading").remove();

    //    function HeightHandle() {

    //        console.log("height handle called");

    //        var newHeight = parseInt($("#gatewayWYSIWYG").height() + 350) + "px";

    //        $("#gateway-body").height(newHeight);
    //        $("#gateway-inner").height(newHeight);
    //    }

    //    $(window).resize(HeightHandle);

    //});
    $(document).ready(function () {

        //hide gateway show team box
        //if ($("#hasTeam").val() == "true") {
        //    $("#gatewayWYSIWYG").hide();
        //    $("#teamSelect").show();
        //    $("#label1").click();
        //} else {
        //    $("#teamSelect").remove();
        //}

        //$(".team-from-list").click(function () {

        //    //console.log($(this).attr('id'));

        //    LoadTeamCategoryProducts($(this).attr('id'));

        //    $("#selectedTeam").html("Team Selected : " + $(this).text() + "  ");


        //    //SetTeam($(this).text());

        //    //$("#gatewayWYSIWYG").show();
        //    $("#teamSelect").hide(3000, "linear");
        //    $("#selectTeamDiv").show();
        //    //$("#gatewayTopText").html(" ");


        //    //PageBodyResizeForMultipleProductRows("sports-wysiwyg");

        //})

        //$("#changeSelectedTeam").click(function () {
        //    $("#gatewayWYSIWYG").hide();
        //    $("#teamSelect").show();
        //    $("#selectTeamDiv").hide();
        //    //PageBodyResizeForMultipleProductRows("");
        //})

        //$("#cssChange").click(function() {

        //    //console.log("cur h1 test");

        //    var type = $("#gatewayH1").html();

        //    //console.log(type);

        //    switch (type) {
        //        case "Specialty Magnets":
        //            $("#gatewayForegroundImage").addClass("gateway-foreground-specialty");
        //            $("#gatewayWYSIWYG").addClass("regular-wysiwyg");
        //            break;




        //        default:
        //            $("#gatewayForegroundImage").addClass("gateway-foreground-sports");
        //            $("#gatewayWYSIWYG").addClass("sports-wysiwyg");
        //            break;
        //    }
        //});

        //function LoadTeamCategoryProducts(id) {

        //    var link = "sportsgateway/GatewayCatalogProducts/sportsTeam/" + id;
        //    //console.log(id)

        //    $.ajax({
        //        type: "GET",
        //        url: link,
        //        cache: false,
        //        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        //        dataType: "html",
        //        success: function (msg) {
        //            console.log("success");
        //            console.log(msg);
        //            console.log(msg.message);



        //            $("#gatewayWYSIWYG").html(msg);
        //            $("#gatewayWYSIWYG").show();
        //            //$("#gatewayTopText").html(msg.h1);


        //        },
        //        error: function (msg) {
        //            console.log("error");
        //            console.log(msg);
        //            console.log(msg.d);
        //        },
        //        complete: function (data) {

        //        },

        //    });
        //}



        var obj = jQuery.parseJSON('{ "outer": "#videoAndQuantityCalculatorWrap" , "inner": "#innerVidAndWQtyCalc" }');
        CustomResize();

        obj = jQuery.parseJSON('{ "outer": "#gateway-body" , "inner": "#gateway-body-inner" }');
        CustomResize();

        function CustomResize() {
            $(window).resize(obj, function () {

                var $c = $('.container'),
                    $w = $(obj.outer),
                    totalWidth = $('.footer').outerWidth(),
                    wellWidth = $c.outerWidth(),
                    diff = totalWidth - wellWidth,
                    marg = -Math.floor(diff / 2) + 'px';

                console.log("footer width: " + $('.footer').outerWidth());
                console.log("container width: " + $c.outerWidth());
                console.log("");

                $w.each(function () {
                    $(this).css({
                        'margin-left': marg,
                        'margin-right': marg
                    });
                })

                $(obj.inner).width($(".container").width());
                //$(".gateway-foreground-sports-team").height($(obj.inner).height());

            });

            $(window).resize();
        }

        function PageBodyResizeForMultipleProductRows(currentWYSIWYG) {
            if (currentWYSIWYG != null && currentWYSIWYG != "") {
                //save original height incase team is changed
                $("#originalBodyHeight").val($("#gateway-body").height());
                //change body height for multiple row products
                var newHeight = parseInt($("." + currentWYSIWYG).height() + 180) + "px";
                $("#gateway-body").height(newHeight);
                $("#gateway-inner").height(newHeight);


                if ($("#gateway-body").height() > 900) {
                    //football foreground image adjust, check if wysiwyg height is greater than a single rows height.
                    //$("#gatewayForegroundImage").addClass("gateway-foreground-sports-multirow");
                }

            } else {
                $("#gateway-body").height($("#originalBodyHeight").val());
                $("#gateway-inner").height($("#originalBodyHeight").val());

                $("#gatewayForegroundImage").removeClass("gateway-foreground-sports-multirow");
            }

        }

        //function SetTeam(team) {                   
        //    $(".team-handle").each(function () {
        //        //replace space with dash
        //        var current = $(this).attr("href");
        //        var teamNoSpace = team.replace(/\s+/g, '-');

        //        if(current.indexOf("?") >= 0){
        //            var splitURL = current.split('?');
        //            $(this).attr("href", splitURL[0] + "?team=" + teamNoSpace);
        //            console.log("split ver: " + splitURL[0] + "?team=" + teamNoSpace);

        //        }else{
        //            $(this).attr("href", current + "?team=" + teamNoSpace);
        //            console.log("new ver: " + current + "?team=" + teamNoSpace);
        //        }

        //    })                    
        //}

        $("#gateway-inner").height($("#gateway-body").height());

        $("#cssChange").click();

        //remove topic header
        $("#chartWrap div.panel-heading").remove();

        $("#videoAndQuantityCalculatorWrap div.panel-heading").remove();

        function HeightHandle() {

            console.log("height handle called");

            var newHeight = parseInt($("#gatewayWYSIWYG").height() + 350) + "px";

            $("#gateway-body").height(newHeight);
            $("#gateway-inner").height(newHeight);
        }

        //$(window).resize(CustomResize(obj));


        //992px switches to mobileish screen

    });


</script>



