@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="discount-box-wrapper">
        <div class="gbs-panel-title-uppercase">
           <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>
            <div class="hint gbs-padding-bottom-10">@T("ShoppingCart.DiscountCouponCode.Tooltip")</div>
            <div class="row">
                <div class="col-sm-8 col-xs-8 col-md-8">
                    <input name="discountcouponcode" placeholder="Coupon Code" type="text" class="discount-coupon-code form-control" />
                </div>
                <div class="discount-button col-sm-4 col-xs-4 col-md-4 gbs-align-btn-with-text">
                    <input type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button button-3d button-small button-rounded button-teal" />
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.Message))
            {
                <div class="@(Model.IsApplied ? "message bg-success" : "message bg-danger")">
                    @Model.Message
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.CurrentCode))
            {
                <div class="current-code">
                    <span class="bg-success">
                        @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)
                        @*empty value (little hack for FormValueExistsAttribute)*@
                        <input type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")">
                    </span>
                </div>
            }
    </div>
}